.card {
  background-color: #f9f9f9;
  border-radius: 8px;
  width: 40vw;
  align-items: center;
  position: relative;
  top: 10vh;
  left: 27vw;
  height: 42vw;
  margin-bottom: 10vh;
}
.card:hover {
  transform: scale(1.1);
  transition: 0.4s;
  box-shadow: 0px 1px 10px 2px #444444;
}
@media screen and (max-width: 919px) {
  .card {
    height: 50vw;
  }
}
@media screen and (max-width: 686px) {
  .card {
    height: 58vw;
    left: 18vw;
  }
}
.card__img {
  border-radius: 24px;
  width: 80%;
  min-height: auto;
  position: relative;
  left: 10%;
  padding: 10px;
}
.card__img:hover {
  transform: scaleX(1.21);
  left: 10%;
  transition: 0.4s;
  z-index: 0;
}
.card__title {
  margin-left: 0.7vw;
  font-size: 1.8vw;
  font-weight: 800 !important;
  margin-bottom: 0;
}
.card__description {
  margin-left: 1vw;
  margin-right: 1vw;
  font-size: 1.2vw;
  padding: 20px;
  font-weight: 800 !important;
  margin-bottom: 1vw;
  color: #444444;
}
.card__btn {
  position: relative;
  left: 30%;
  border-radius: 8px;
  width: 15vw;
  background-color: #fff;
  margin-top: 0vh;
  color: #ef6603;
  border: 2px solid #ef6603;
  font-size: 1vw;
  padding: 1vw;
  letter-spacing: 0.1vw;
}
.card__btn:hover {
  background-color: #ef6603;
  transition: 0.4s;
  color: white;
}
